.sidebarWrapper {
    grid-area: sidebar;
    background-color: red;
    padding: 20px;
}

.nav {
    margin-bottom: 50px;
}

.item a{
    color: white;
    text-decoration: none;
}

.item a.active {
    color: gold;
}

.friendsWidget {
}