.app-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-areas:
  "header header header"
  "nav content content";

    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
}

.header {
    grid-area: header;
    background: #10d010;
}

.header img {
    width: 50px;
}

.nav {
    grid-area: nav;
    background: #e3244b;

}

.content {
    grid-area: content;
    background: #526cee;

}

.content img {
    width: 100%;
}
